.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background-color: #111;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #AD49E1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 600;
    color: #7A1CAC;
    margin-bottom: 20px;
}

.register-link {
    margin-top: 30px;
    color: #fff;
}
.register-link {
    margin-top: 50px; /* Aumentado de 30px a 50px para más separación */
    color: #fff;
    text-align: center;
}

.register-link a {
    color: #AD49E1;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #7A1CAC;
}